/*  uses different header/footer images */
header, footer {
    background-image: url("https://images.unsplash.com/photo-1590990986455-f1005948c18c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

/* for setting labels text sizes as well */
p {
    text-align: center;
    color: rgb(160, 160, 160);
    font-size: small;
}

/* for the initial forms (before the search toggles) */
.admin-forms {
    background-color: black;
    padding: 30px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* for showing add/remove/modify titles */
.admin-forms h2 {
    padding: 10px;
    text-align: center;
}

/* for adjusting the query result to be at the centre */
/* had to account for mobile screen */
#admin-add,
#admin-remove,
#admin-modify {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(26, 26, 26);
    padding: 20px 8%;
    margin: 15px 0;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* hiding the remove/modify subpage by default */
/* shows add subpage by default */
#admin-remove,
#admin-modify {
    display: none;
}

/* hides search query results */
#remove-details,
#modify-details {
    margin: 10px;

    display: none;
    flex-direction: column;
    align-items: center;
}

/* adjusting starter remove/modify forms */
.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

/* add button, simple decoration */
button.button-add {
    width: 60px;
    height: 35px;
    background-color: rgb(101, 161, 140);
    color: white;
    border: 0;
    border-radius: 7px;
}

/* search button, simple decoration */
button.button-search {
    width: 70px;
    height: 35px;
    background-color: rgb(120, 120, 120);
    color: white;
    border: 0;
    border-radius: 10px;
}

/* confirm button, decoration */
button.button-confirm {
    width: 140px;
    height: 35px;
    background-color: #65a18c;
    color: white;
    border: 0;
    border-radius: 10px;
}

/* adjust every input boxes. assumed that they're all type=text */
input {
    height: 35px;
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: rgb(57, 57, 57);
    padding-right: 10px;
    padding-left: 10px;
}

/* starter add form */
#admin-add form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* starter modify form */
.modify-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

/* ---------------------------------------------------------- */

/* adjusting the query result table */

.search-result-table {
    display: flex;
    flex-direction: row;
}

.search-result-table div {
    padding: 7px;
    margin: 20px 3px;
    background-color: rgb(0, 0, 0);
    color: rgb(155, 155, 155);
    border-radius: 10px;
}

div.table-row,
div.table-header {
    white-space: nowrap;
    overflow-x: auto;
    max-width: 400px;
}

@media screen and (max-width: 1000px) {
    div.table-row {
        max-width: 200px;
    }
}

@media screen and (max-width: 500px) {
    div.table-row, div.table-header {
        max-width: 100px;
    }
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */

/* adjusting the top add/remove/modify menu */

.admin-menu {
    background-color: black;
    padding: 20px 10%;

    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.admin-menu button {
    height: 30px;
    background-color: #65a18c;
    color: white;
    border: 0;
    border-radius: 10px;

    flex-grow: 1;
}

/* ---------------------------------------------------------- */