*{ /*Set global text to be white to make them visible*/
	color: white;
}

.search { /*background cover for search section*/
	background-size: 100%;
	padding: 10%;
	background-color:rgb(16, 16, 16);
}

.text{ /*Decorative text in search section*/
	text-align: center;
	font-size: 200%;
	padding: 3%;
}

#form-criterias{ /*Radios on criterias for the search*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 20px;
}

#search-criteria-container {
	font-size: 20px;
	padding: 20px;

	display: flex;
	justify-content: center;
	gap: 20px;
}

#form-label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.search-container{ /*Set search bar to center with flex*/
	display: flex;
	justify-content: center;
}

.search-bar{ /*adjust search bar elements to make it more responsive with flex, and customize its look*/
	background: white;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	border-radius: 60px;
	width: 1000px;
	padding: 1%;
}

.search-bar input{ /*Customize input box to blend in with search bar and adjust its size*/
	color:black;
	background: transparent;
	border: 0;
	outline: none;

	font-size: small;
	padding: 10px;
	width: 82%;
}

.search-bar button{ /*Customize button look*/
	color:white;
	background-color: rgb(0, 0, 0);
	border-radius: 60px;
	padding: 2% 3%;
	border: 0px;
	outline: none;
}

.search-bar button:active{ /*Button will change color after clicking*/
	background-color: rgb(28, 172, 102);
}

#result{ /*Background cover for result section*/
	padding: 10px;
	background-size: 100%;
	background-color:rgb(16, 16, 16);

	display: none;
}

.item-container { /*Adjust the results position to the with flex so it will be more responsive*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	align-items: center;
}

.item-container ul {
	list-style: none;
	width: 80%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 50%;
	gap: 30px;
}

.item-container img {
	border-radius: 10px;
	height: 100%;
	width: 270px;
	max-height: 200px;
}

.result-items{ /*Make the results appear as fixed boxes and adjust its elements in column format with flex*/
	height: 350px;
	width: 290px;

	background-color: rgb(48, 48, 48);
	color: black;
	text-decoration: none;

	border-radius: 30px;
	padding: 1%;
	margin: 1%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.commission-name{ /*Enlarge commission name to make it stand out*/
	font-size: 20px;
}

.result-items:hover{ /*There will be outline on the result with mouse hover over it*/
	outline: 5px;
	outline-style:outset;
	outline-color: white;
}

.result-items:active{ /*result will change its color upon clicking*/
	background-color: rgb(134, 134, 134);
}
