/* html, body {
  height: 100%;
  width: 100%;
} */


/* //////////////////// user's nav bar ///////////////////// */

nav {
  background-color: black;
  text-align: center;

  display: flex;
  justify-content: space-between;
}

.user-navbar ul,.admin-navbar ul,.detail-navbar ul {
  list-style: none;
  background-color: rgb(0, 0, 0);
  padding: 20px;

  display: flex;
  gap: 10%;
}

.user-navbar a,.admin-navbar a,.detail-navbar a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* //////////////////// user's nav bar ///////////////////// */