html, body {
  height: 100%;
  width: 100%;
}

/* import fronts Trialcodes @Junior */
/* nav{
  font-family: 'Secular One', sans-serif;
} */

/* //////////////////// user's nav bar ///////////////////// */

.user-navbar ul,.admin-navbar ul{
  list-style: none;
  background-color: rgb(0, 0, 0);
  padding: 25px;

  display: flex;
  justify-content: flex-start;
  gap: 5%;
}

.user-navbar a,.admin-navbar a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* //////////////////// user's nav bar ///////////////////// */